/* < 600 */
.cellContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 40px;
  background-color: var(--tab-color);
  border-radius: var(--border-radius-cell);
  padding: 5px 2px;
  box-sizing: border-box;
  color: gray;
  max-height: 90px;
}

.emptyCell {
  width: 100%;
  height: 40px;
  background-color: var(--inner-background-color-empty);
  border-radius: var(--border-radius-cell);
}

.classAndSubject {
  max-width: calc(var(--table-teacher-details-col-width) - 30px);
  box-sizing: border-box;
  overflow-wrap: break-word;
  line-height: 1.3;
  font-weight: 600;
}

.hasSub::after {
  content: ",";
}

.subTeacher {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.doubleRow {
  white-space: nowrap;
}

.secondaryRow {
  font-weight: normal;
}

.bold {
  font-weight: 600;
}

.subName {
  white-space: nowrap;
}

/* > 600 */
@media (min-width: 600px) {
  .cellContent {
    flex-direction: column;
    align-items: unset;
    gap: 10px;
    height: 100%;
    max-height: unset;
    min-height: var(--table-teacher-cell-height);
    padding: 10px 15px;
  }

  .emptyCell {
    height: var(--table-teacher-cell-height);
  }

  .hasSub::after {
    content: none;
  }

  .doubleRow {
    font-weight: 600;
    white-space: normal;
  }
}



.activityText {
  color: var(--disabled-text-color);
}