.selectContainer {
    width: 150px;
}

.pageTitleLong {
    white-space: nowrap;
    display: block;
}

.pageTitleShort {
    white-space: nowrap;
    display: none;
}

/* Mobile <= 460px */
@media (max-width: 460px) {
    .pageTitleLong {
        display: none;
    }

    .pageTitleShort {
        display: block;
    }
}