.privatePageLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.contentMain {
    flex: 1;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}