.tableContainer {
  min-height: 100%;
  height: 100%;
  width: 100vw;
  overflow: scroll;
}

.scheduleTable {
  border-collapse: collapse;
  height: 100%;
}

.scheduleTable thead {
  min-height: var(--table-header-min-height);
  height: var(--table-header-height);
}

.scheduleTable tr {
  min-height: var(--table-header-min-height);
  height: var(--table-header-height);
}

.scheduleTable th {
  border: 1px solid #ccc;
  text-align: center;
  font-weight: bold;
}

.scheduleTable td {
  border: 1px solid #ccc;
  text-align: center;
  background-color: var(--empty-cell-color);
}

.scheduleCell {
  min-width: var(--table-cell-min-width) !important;
}

.cellContent {
  display: flex;
  flex-direction: column;
  background-color: var(--background-inner);
}

.empty{
  width: calc(var(--table-template-cell-width) - 2px);
}

.hourHeader {
  font-weight: bold;
  text-align: center;
  min-height: var(--table-header-min-height);
  height: var(--table-header-height);
  width: var(--table-template-cell-width);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
}

.hourCell {
  font-weight: bold;
  text-align: center;
  min-height: var(--table-cell-min-height);
  height: var(--table-cell-height);
  width: var(--table-template-cell-width);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: var(--row-cell-color);
  /* position: absolute; */
  /* height: 100%; */
}

.hourCell span {
  /* position: absolute; */
  top: 0;
  left: 0;
}



.templateCell {
  min-height: var(--table-cell-min-height);
  height: calc(var(--table-cell-height) - 1px);
  width: calc(100vw - var(--table-template-cell-width) - 2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.templateHeaderText {
  color: #878686;
  text-align: center;
}

.templateText {
  color: #d6d5d5;
  text-align: center;
}

.templateIcon {
  color: #d6d5d5;
}