.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageList {
    --table-margin: 10px;
}


.tableListSection {
    background-color: var(--background);
}

.tableList {
    width: 100%;
    max-width: none;
    margin: var(--table-margin, 0);
    border-collapse: separate;
    border-spacing: 0;
}

.tableList thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--background);
}

.tableList th {
    text-align: center;
    padding: 1rem 2rem 1rem 0;
    border-bottom: var(--border-heavy-primary);
    font-weight: 600;
    color: var(--description-text);
    width: 100%;
}

.tableList td {
    text-align: right;
    padding: 1rem 1rem 1rem 0;
    border-bottom: var(--border-primary);
}

.smallBtn {
    width: 200px !important;
    height: 38px;
    display: inline-flex !important;
}

.listRow {
    position: relative;
    align-items: flex-start;
}

.nameCell {
    position: relative;
}

.copyLink {
    direction: ltr;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    color: var(--description-text);
    cursor: pointer;
}

.copyLink span {
    display: none;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    gap: 15px;
}

.tdSkeletonName,
.tdSkeletonIcon,
.tdSkeletonInput,
.tdSkeletonBtn {
    background-color: var(--skeleton-input-color);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {

    0%,
    100% {
        background-color: var(--skeleton-input-color);
    }

    50% {
        background-color: var(--skeleton-input-color-bright);
    }
}

.tdSkeletonInput{
    width: 364px;
    margin-right: 16px;
    height: 40px;
}

.tdSkeletonBtn{
    width: 200px;
    margin-right: 16px;
    height: 40px;
}

.tdSkeletonName {
    width: 260px;
    height: 20px;
    border-radius: 5px;
    margin-right: 16px;
}

.tdSkeletonIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Desktop */
@media (min-width: 768px) {
    .actions {
        gap: 35px;
        margin-right: 8px;
    }

    .copyLink {
        direction: ltr;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        color: var(--description-text);
        cursor: pointer;
    }

    .copyLink span {
        display: block;
        width: 200px;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .copyLink:hover {
        color: var(--description-hover-text);
    }

    .pageList {
        --table-margin: 0 auto;
    }

    .tableListSection {
        overflow-y: auto;
    }

    .tableList {
        width: 600px;
    }
}