/* Mobile */
.topNavLayout {
    background: var(--top-color);
    box-shadow: var(--box-shadow-primary);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 10;
    width: 100%;
}

.topNavRight {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}

.topNavLeft {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 50%;
    margin-left: 10px;
}

.bottomNav{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Desktop */
@media (min-width: 1024px) {
    .topNavLayout {
        padding: 0 10px;
        gap: 3em;
    }

    .topNavRight {
        width: 70%;
    }

    .topNavLeft {
        margin-left: 0;
        width: 30%;
    }
}