.tableContainer {
    flex: 1;
    overflow: auto;
    max-width: 100%;
    overscroll-behavior: none;
}

@media (max-width: 500px) {
    .tableContainer {
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE/Edge */
    }

    .tableContainer::-webkit-scrollbar {
        display: none;
        /* Chrome/Safari */
    }
}

.scheduleTable {
    width: 100%;
    background-color: var(--inner-background-color);
    border-radius: var(--border-radius-table);
    border-collapse: collapse;
}