/* Desktop */
.scheduleTable {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background);
    min-width: 800px;
}

.scheduleTable th:first-child,
.scheduleTable td:first-child {
    width: var(--table-template-cell-width);
    min-width: 30px;
    max-width: 80px;
}

/* Mobile */
@media (max-width: 767px) {
    .scheduleTable th:first-child,
    .scheduleTable td:first-child {
        width: var(--table-template-cell-width);
    }

    .scheduleTable th:not(:first-child),
    .scheduleTable td:not(:first-child) {
        width: 230px;
        min-width: 200px;
        max-width: 300px;
    }
}
