.theadWithoutHeader,
.theadWithHeader {
    position: sticky;
    top: var(--padding-top-desktop);
    z-index: 100;
    background-color: var(--background);
    z-index: 5;
}

.theadInsidePanel {
    top: 0 !important;
    z-index: 10;
}

.theadWithoutHeader::before,
.theadWithHeader::before {
    content: "";
    position: absolute;
    top: calc(var(--padding-top-desktop) * -1);
    left: 0;
    width: 100%;
    height: var(--padding-top-desktop);
    background-color: var(--background-color);
    z-index: -1;
}

.trHeader {
    height: var(--table-annual-header-height);
    text-align: center;
    color: var(--dark-text-color);
    font-weight: 600;
    font-size: 18px;
    background-color: var(--table-gray-color);
}

.topHourCellCol {
    position: sticky;
    right: 0;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    background-color: transparent !important;
    z-index: 101;
}

.topHourCellCol::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--background-color);
    z-index: -2;
}

.topHourCellCol::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--table-gray-color);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    z-index: -1;
}

.emptyTrHeader {
    background-color: var(--background-color) !important;
    height: var(--table-annual-header-height);
    width: 5px;
    min-width: 5px;
}

.trHeader:nth-child(3) {
    border-top-right-radius: var(--border-radius-table);
    background-color: transparent !important;
    position: relative;
}

.trHeader:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: var(--background-color);
    z-index: -2;
}

.trHeader:nth-child(3)::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--table-gray-color);
    border-top-right-radius: var(--border-radius-table);
    z-index: -1;
}

.trHeader:last-child {
    border-top-left-radius: var(--border-radius-table);
    background-color: transparent !important;
    position: relative;
}

.trHeader:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: var(--background-color);
    z-index: -2;
}

.trHeader:last-child::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--table-gray-color);
    border-top-left-radius: var(--border-radius-table);
    z-index: -1;
}