.emptyTrHeader {
    background-color: var(--table-headers-color);
    border-left: var(--border-primary);
    padding: 12px;
    text-align: center;
    width: var(--annual-template-width);
}

.trHeader {
    padding: 12px;
    text-align: center;
    min-width: var(--annual-table-width);
    font-weight: 600;
    border-left: var(--border-primary);
}