/* > 690px */
.greetingAndName {
    width: fit-content;
    min-width: 130px;
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DateContainer {
    display: block;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.refreshContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.refreshAlert {
    color: rgba(255, 0, 0, 0.566);
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.topBarNav {
    display: block;
}

.bottomBarNav {
    display: none;
}

/* <= 690px */
@media (max-width: 690px) {

    .greetingAndName {
        white-space: wrap;
    }

    .topBarNav {
        display: none;
    }

    .bottomBarNav {
        display: block;
    }

    .mainContentWithBottomNav {
        margin-bottom: var(--header-height);
    }
}

/* <= 470px */
@media (max-width: 470px) {

    .greetingAndName {
        font-size: 14px;
        width: fit-content;
        min-width: 0;
        text-overflow: unset;
    }
}