/* Mobile */
.pageLayout {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.headerContent {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--background);
  border-bottom: var(--border-primary);
  flex: 0 0 auto;
  min-height: var(--header-height);
}

.mainContent {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
  width: 100%;
}

/* Desktop */
@media (min-width: 1024px) {}