/* Mobile 320px - 767px -- 812px */
.teacherRow {
    position: relative;
    align-items: flex-start;
}

.dot {
    display: none;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.roleCell,
.roleCellBlue,
.roleCellGreen {
    display: inline-block;
    width: 70px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}

.roleCellGreen {
    border: 1px solid #18a16850;
    color: #18a168;
}

.roleCellBlue {
    border: 1px solid #436dce50;
    color: #436dce;
}

/* Tablet 768px - 1279px -- 800px*/
@media screen and (min-width: 768px) {
    .dot {
        display: block;
        position: absolute;
        top: 50%;
        right: 3em;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--placeholder-color);
    }

    .actions {
        gap: 35px;
    }

    .roleCell,
.roleCellBlue,
.roleCellGreen {
    width: 190px;
    padding: 5px 25px;
    font-size: 16px;
}
}