.topButtonsContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    height: 40px;
    min-width: fit-content;
    width: fit-content;
}

.topButton {
    padding: 0.75rem 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 8px;
}

.topButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.existingTeacher {
    border-left: 4px solid #27ae60;
    /* Green for present teacher */
    color: #27ae60;
}

.existingTeacher:hover {
    background-color: rgba(39, 174, 96, 0.1);
}

.info {
    border-left: 4px solid #3498db;
    /* Blue for info */
    color: #3498db;
}

.info:hover {
    background-color: rgba(52, 152, 219, 0.1);
}

.missingTeacher {
    border-left: 4px solid #aeac27;
    color: #aeac27;
}

.missingTeacher:hover {
    background-color: rgba(231, 76, 60, 0.1);
}

.delete {
    border-left: 4px solid #e74c3c;
    color: #e74c3c;
}

.delete:hover {
    background-color: rgba(231, 76, 60, 0.1);
}


@media (max-width: 768px) {

    .topButtonsContainer {
        flex-direction: column;
        align-items: flex-end;
    }

}