.tableContainer {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
    height: calc(100dvh - var(--header-height) - 62px);
}

.scheduleTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background: var(--background);
}

.scheduleTable thead th {
    background: var(--table-headers-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 44px;
    padding: 8px 12px;
    border-bottom: var(--border-primary);
    border-inline-start: var(--border-inline-start);
    white-space: nowrap;
}

.scheduleTable thead th:first-child {
    border-inline-start: none;
}

.scheduleTable td {
    padding: 1px 8px;
    height: 120px;
}

.scheduleTable th:nth-child(1),
.scheduleTable td:nth-child(1) {
    width: var(--table-template-cell-width-mobile);
    min-width: var(--table-template-cell-width-mobile);
    max-width: var(--table-template-cell-width-mobile);
    text-align: center;
}

.scheduleTable th:nth-child(2),
.scheduleTable td:nth-child(2) {
    width: 90px;
    min-width: 70px;
    max-width: 100px;
}

/* Desktop */
@media (min-width: 768px) {
    .tableContainer {
        height: calc(100dvh - var(--header-height) - 4px);
    }

    .scheduleTable thead th {
        line-height: 40px;
        padding: 6px 10px;
    }

    .scheduleTable td {
        padding: 2px 6px;
        box-sizing: border-box;
    }

    .scheduleTable th:nth-child(1),
    .scheduleTable td:nth-child(1) {
        width: var(--table-template-cell-width);
        min-width: var(--table-template-cell-width);
        max-width: var(--table-template-cell-width);
    }

    .scheduleTable th:nth-child(2),
    .scheduleTable td:nth-child(2) {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
    }
}