.scheduleTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background: #fff;
}

.scheduleTable thead th {
    background: #f5f5f5;
    font-weight: 600;
    font-size: 16px;
    line-height: 44px;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    border-inline-start: 1px solid #e5e5e5;
    white-space: nowrap;
}

.scheduleTable thead th:first-child {
    border-inline-start: none;
}

.scheduleTable td {
    line-height: 40px;
    padding: 1px 8px;
    overflow-wrap: anywhere;
}

.scheduleTable th:nth-child(1),
.scheduleTable td:nth-child(1) {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    text-align: center;
}

.scheduleTable th:nth-child(2),
.scheduleTable td:nth-child(2) {
    width: 90px;
    min-width: 70px;
    max-width: 100px;
}

/* Desktop */
@media (min-width: 768px) {
    .scheduleTable thead th {
        line-height: 40px;
        padding: 6px 10px;
    }

    .scheduleTable td {
        line-height: 36px;
        padding: 2px 4px;
    }

    .scheduleTable th:nth-child(1),
    .scheduleTable td:nth-child(1) {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
    }

    .scheduleTable th:nth-child(2),
    .scheduleTable td:nth-child(2) {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
    }

}
