.container {
    display: grid;
    place-items: center;
    min-height: 60vh;
}

.loadingSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.loading {
    font-size: 22px;
    opacity: 0.8;
    margin: 0;
    text-align: center;
}
