/* Desktop */
.selectContainer {
    width: 270px;
    min-width: 270px;
    max-width: 270px;
    display: flex;
    align-items: center;
}

.selectWrapper {
    flex: 1;
}

.nextButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    color: #888;
    transition: all 0.2s ease;
    height: 38px;
    width: 38px;
}

.nextButton:hover {
    color: #666;
}

.pageTitleLong {
    white-space: nowrap;
    display: block;
}

.pageTitleShort {
    white-space: nowrap;
    display: none;
}

/* <= 580px */
@media (max-width: 580px) {
    .pageTitleLong {
        display: none;
    }

    .pageTitleShort {
        display: block;
    }

    .selectContainer {
        width: 100%;
        min-width: 150px;
        max-width: 100%;
        flex: 1;
    }
}