.dailyTable {
    display: flex;
    gap: var(--table-cols-gap);
    overflow: scroll;
    min-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

.hide {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100vw;
    height: var(--padding-top-desktop);
    background-color: var(--background-color);
    z-index: 17;
    background-color: red;
}

/* Mobile */
@media (max-width: 720px) {
    .hide {
        height: calc(var(--padding-top-desktop) + var(--header-height) - 13px);
    }
}