.dailyTable {
    display: flex;
    gap: var(--table-cols-gap);
    overflow: scroll;
    min-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    height: calc(100vh - var(--header-height) - (var(--padding-top-desktop) * 2));
    max-height: calc(100vh - var(--header-height) - (var(--padding-top-desktop) * 2));
}
