/* Mobile First (Used mainly by teacher portal) */
.scheduleTable {
    width: 100%;
    background-color: var(--inner-background-color);
    border-radius: var(--border-radius-table);
    border-collapse: collapse;
    margin-bottom: calc(var(--header-height) + 1em);
}

/* Desktop */
@media (min-width: 600px) {
    .scheduleTable {
        margin-bottom: 0;
    }
}