.hoursColumn {
    width: var(--table-hours-col-width);
    min-width: var(--table-hours-col-width);
    max-width: var(--table-hours-col-width);
    padding: 0;
    background-color: var(--table-gray-color);
    position: sticky;
    right: 0;
    z-index: 4;
}

.emptyCell {
    background-color: var(--background-color) !important;
    width: 5px !important;
    min-width: 5px !important;
}

.hourCell {
    text-align: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-text-color);
    background-color: white;
    border-radius: 50%;
    margin: auto;
}

.scheduleDetailsCell {
    position: relative;
    padding-right: 4px;
    padding-bottom: 5px;
    box-sizing: border-box;
    width: var(--table-teacher-details-col-width);
    display: table-cell;
    height: 1px;
}

.scheduleInstructionsCell {
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    width: auto;
    padding-bottom: 5px;
}

.scheduleCell {
    position: relative;
    padding: 4px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.teacherRow {
    --table-teacher-cell-height: 90px;
}

.mobileDetails {
    display: none;
}

.desktopOnly {
    display: table-cell !important;
}

/* < 600px */
@media (max-width: 600px) {

    .scheduleDetailsCell {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding: 0;
    }

    .scheduleInstructionsCell {
        width: auto;
        padding-bottom: 18px;
    }

    .mobileDetails {
        display: block;
        width: 100%;
        margin-bottom: 4px;
    }

    .desktopOnly {
        display: none !important;
    }
}