.hourCell {
    border: 1px solid #e0e0e0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.cellClass {
    position: relative;
    border: 1px solid #e0e0e0;
    vertical-align: top;
    height: 100%;
    min-height: 36px;
    min-width: 80px;
}

.cellMaterial {
    position: relative;
    border: 1px solid #e0e0e0;
    vertical-align: top;
    height: 100%;
    min-height: 36px;
    min-width: 25vw;
}

.cellContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 26px;
}

.className {
    font-weight: bold;
}

.subTeacher {
  width: 110%;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
