/* > 1024px */
.container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    padding: 0;
}

.mainSection {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 90%;
    margin: 0 auto 20vh auto;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.googleButton {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 1rem 1.5rem;
    border: var(--border-primary);
    border-radius: 8px;
    background-color: var(--top_color);
    color: var(--dark-text-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 0 auto;
}

.googleButton:hover {
    background-color: var(--top-color-hover);
    box-shadow: var(--box-shadow-btn);
}

.googleButton:active {
    background-color: var(--top-color);
}

.error {
    color: var(--error-color);
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
}

.problemLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailLine {
    display: block;
    margin-top: 0.75rem;
    text-decoration: underline;
    color: #007bff;
}

.problemLink:hover .emailLine {
    color: #3399ff;
}

/* < 1024px */
@media (max-width: 1024px) {
    .mainSection {
        gap: 2em;
        margin: 0 auto 10vh auto;
    }

    .formContainer {
        gap: 1.5rem;
    }

    .googleButton {
        margin: 0 auto 1rem auto;
    }
}

/* ==== Power User Div ==== */
.popupOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popupBox {
    background: white;
    padding: 16px;
    border-radius: 12px;
    min-width: 280px;
    max-width: 360px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
    direction: rtl;
    text-align: right;
}

.zeroMargin {
    margin: 0;
}

.schoolList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.schoolListItem {
    margin-bottom: 8px;
}

.schoolButton {
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    background: #f9f9f9;
}

.closeRow {
    margin-top: 30px;
    text-align: center;
}

.closeButton {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #666;
    font-weight: bold;
}