/* Mobile */
.container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    padding: 0;
}

.mainSection {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 90%;
    margin-bottom: 10vh;
}

.googleButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 1rem 1.5rem;
    border: var(--border-primary);
    border-radius: 8px;
    background-color: var(--top_color);
    color: var(--dark-text-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-bottom: 1rem;
}

.error {
    color: var(--error-color);
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
}

.contact {
    margin-top: 2rem;
    text-align: center;
}

.contactLink {
    color: var(--dark-text-color);
    text-decoration: none;
    font-weight: 500;
    text-decoration: underline !important;
}

.illustrationContainer {
    display: block;
    position: absolute;
    bottom: 1%;
    left: 32%;
    z-index: 0;
    opacity: 0.9;
}

.illustration {
    width: 55vw;
    height: auto;
}


/* Desktop */
@media (min-width: 1024px) {
    .mainSection {
        gap: 3em;
        width: 27%;
        margin-bottom: 20vh;
    }

    .googleButton:hover {
        background-color: var(--top-color-hover);
        box-shadow: var(--box-shadow-btn);
    }

    .googleButton:active {
        background-color: var(--top-color);
    }

    .contactLink:hover {
        color: var(--dark-text-color-hover) !important;
    }

    .illustrationContainer {
        bottom: 1%;
        left: 2%;
    }

    .illustration {
        width: 35vw;
    }
}
