.teachersListSection {
    width: 100%;
    padding: 2rem;
    background-color: var(--background-inner);
    border-radius: var(--box-border-radius);
    height: 80vh;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: right;
}

.teachersCount {
    color: #666;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}


.roleCell span,
.roleCellBlue span,
.roleCellGreen span {
    padding: 5px 15px !important;
    border-radius: 5px;
}

.roleCellGreen span {
    background-color: #15bf78;
    color: #fff;
}

.roleCellBlue span {
    background-color: #436dce;
    color: #fff;
}

.actionButtons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
}

.editButton,
.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editIcon,
.deleteIcon {
    font-size: 1rem;
}
