.hourHeader{
  background:#f5f5f5;
  font-weight:bold;
  text-align:center;
  border:1px solid #ccc;
  min-width:64px;
  padding:10px;
}

.dayHeader{
  font-weight:bold;
  text-align:center;
  border:1px solid #ccc;
  min-width:200px;
}
