/* Roy: This CSS has no impact, Why we keeping it? */
.container { display: block; }

.subjectsList {
  --table-width: 60%;
  --table-max-width: 1200px;
  --table-margin: 0 auto;
  padding-inline: 2px;
}

@media (max-width: 767px) {
  .subjectsList {
    --table-width: 100%;
    --table-max-width: none;
    --table-margin: 0;
  }
}
