.container {
    margin-top: calc(var(--header-height) + 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subjectsList {
    min-width: 60vw;
    width: 70%;
}

.tableSkeleton {
    width: 100%;
    background: #f3f3f3;
    border-radius: var(--box-border-radius) var(--box-border-radius) 0 0;
    padding: 0 2em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.headerRow {
    height: 48px;
    width: 100%;
    background: #e0e0e0;
    border-radius: 8px 8px 0 0;
    margin-bottom: 8px;
}

.row {
    display: flex;
    align-items: center;
    height: 46px;
    margin-bottom: 10px;
    background: #ececec;
    border-radius: 6px;
    gap: 1rem;
    padding: 0 1rem;
}

.cell {
    height: 24px;
    border-radius: 4px;
    background: #d1d1d1;
    margin-right: 1rem;
}
