/* Desktop (first) */
.actionsContainer {
    margin-right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3em;
}

.selectClass {
    min-width: 150px;
    width: fit-content;
}

.teacherSelect {
    min-width: 200px;
    width: fit-content;
}

/* Mobile */
@media (max-width: 767px) {
    .actionsContainer {
        gap: 5px;
    }
    .selectClass {
        min-width: fit-content;
        width: 120px;
    }

    .teacherSelect {
        min-width: fit-content;
        width: 120px;
    }
}
