.scheduleCell {
    position: relative;
    padding: 4px;
    border: var(--border-primary);
    vertical-align: top;
    min-width: var(--annual-table-width);
    max-width: 0;
    height: 80px;
}

.cellContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;
}
