/* > 660px */
.emptyTable {
    position: fixed;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-height: calc(100vh - var(--header-height));
    color: gray;
    text-align: center;
}

.text {
    font-size: 16px;
    font-weight: 600;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-weight: 600;
}

.desktopText {
    display: block;
}

.mobileText {
    display: none;
}

/* < 600px */
@media (max-width: 660px) {
    .emptyTable {
        width: 50vw;
    }

    .actions {
        flex-direction: column;
    }

    .desktopText {
        display: none;
    }

    .mobileText {
        display: block;
        line-height: 1.5;
    }
}