/* Desktop (Default) */
.emptyTable {
    position: fixed;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-height: calc(100vh - var(--header-height));
    color: gray;
    text-align: center;
}

.text {
    font-size: 16px;
    font-weight: 600;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-weight: 600;
}

/* Mobile */
@media (max-width: 600px) {
    .emptyTable {
        width: 50vw;
    }

    .actions {
        flex-direction: column;
    }
}