.cellContent {
    width: 100%;
    height: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.innerCellContent{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.classAndSubject {
    max-width: 200px;
    text-overflow: clip;
}

.teacherSelect {
    text-align: right;
    width: 100%;
}

.emptyCell{
    width: 100%;
    height: 100%;
    background-color: var(--empty-cell-color);
}