.navLink {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    color: var(--text-main);
    text-decoration: none;
    transition: background-color 0.2s;
    cursor: pointer;
    border-radius: var(--border-radius-input);
}

.navLink:hover {
    background-color: var(--background-secondary);
}