.selectCellTd {
    position: relative;
    width: 100%;
    height: fit-content;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 40px 130px 1fr;
    grid-template-rows: auto auto auto;
}

.selectCellGrid {
    display: contents;
}

.selectCellInputClass,
.selectCellInputName {
    height: 30px;
    border: 1px solid #000;
    border-radius: 0;
    background-color: inherit;
    color: inherit;
    padding: 0 5px;
    box-sizing: border-box;
    text-align: right;
    direction: rtl;
}

.selectCellInputClass {
    width: 40px;
}

.selectCellInputName {
    width: 130px;
}

.selectCellInput1 {
    grid-column: 1 / 2;
    /* Changed to left column */
    grid-row: 1 / 2;
}

.selectCellInput2 {
    grid-column: 2 / 3;
    /* Changed to middle column */
    grid-row: 1 / 2;
}

.selectCellSelect {
    width: 100%;
    height: 30px;
    border: 1px solid #000;
    border-radius: 0;
    background-color: inherit;
    color: inherit;
    grid-column: 3 / 4;
    /* Right column */
    text-align: right;
    direction: rtl;
    padding: 0 5px;
}

.selectCellSelectRow1 {
    grid-row: 1 / 2;
}

.selectCellSelectRow2 {
    grid-row: 2 / 3;
}

.selectCellSelectRow3 {
    grid-row: 3 / 4;
}

.selectCellOption {
    width: 100%;
    background-color: white;
    color: black;
}

.selectCellSelect:focus,
.selectCellInput:focus {
    outline: none;
}