/* > 800 */
.listRow {
    width: 95%;
    background-color: var(--tab-color);
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: var(--list-details-row-padding);
    box-sizing: border-box;
    border-radius: var(--border-radius-cell);
    list-style: none;
}

.nameCell {
    width: 100%;
    position: relative;
}

.actions {
    min-width: var(--list-details-actions-width);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
}

/* <= 800 */
@media (max-width: 800px) {
    .listRow {
        width: 95%;
        gap: 1rem;
        padding: var(--list-details-row-padding-mobile);
    }

    .actions {
        min-width: var(--list-details-actions-width-mobile);
        justify-content: end;
        gap: 5px;
    }
}