/* Mobile */
.listRow {
    position: relative;
    align-items: flex-start;
    width: 100%;
    position: relative;
}

.listRow:first-child {
    right: 100px;
}

.nameCell {
    position: relative;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

/* Desktop */
@media (min-width: 768px) {
    .actions {
        gap: 35px;
    }
}
