.hoursColumn {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    padding: 0;
    margin: 0;
}

.emptyCell {
    background-color: var(--background-color) !important;
    width: 10px !important;
    min-width: 10px !important;
}

.hourCell {
    text-align: center;
    vertical-align: middle;
    width: 75%;
    flex-shrink: 0;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-text-color);
    background-color: var(--top-color);
    border-radius: 50%;
    margin: auto;
}

.scheduleDetailsCell {
    position: relative;
    padding-right: 4px;
    padding-bottom: 5px;
    box-sizing: border-box;
    width: var(--table-teacher-details-col-width);
}

.scheduleInstructionsCell {
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 5px;
    box-sizing: border-box;
    width: 85%;
}

.scheduleCell {
    position: relative;
    padding: 4px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.teacherRow {
    height: var(--table-teacher-cell-height);
}