.container {
  display: block;
}

.substituteList {
  --table-width: 60%;
  --table-max-width: 1200px;
  --table-margin: 0 auto;
}

@media (max-width: 767px) {
  .substituteList {
    --table-width: 100%;
    --table-max-width: none;
    --table-margin: 0;
  }
}
