.columnHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 0 15px;
    text-align: right;
}

.clearButton {
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease;
    padding: 5px;
    box-sizing: content-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearButton:hover {
    color: gray;
}

.clearButton:active {
    transform: translateY(1px);
}
