/* Desktop (First) */
.container {
    width: calc(100% - (var(--padding-width-desktop) * 2));
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: calc(var(--header-height) + var(--padding-top-desktop));
    padding-bottom: var(--padding-top-desktop);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    min-height: 100%;
}

/* Mobile */
@media (max-width: 600px) {
    .container {
        padding-top: calc(var(--header-height) + var(--header-height) + var(--padding-top-mobile));
        padding-bottom: var(--padding-top-mobile);
    }
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}