.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--shadow-background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.2s ease-out;
}

.modalContainer {
  background-color: var(--top-color);
  border-radius: var(--border-radius-table);
  box-shadow: var(--box-shadow-primary);
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
  animation: slideIn 0.3s ease-out;
}

.sizeS {
  width: 400px;
  max-width: 90%;
}

.sizeM {
  width: 600px;
  max-width: 90%;
}

.sizeL {
  width: 800px;
  max-width: 90%;
}

.closeButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--dark-text-color);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.closeButton:focus {
  outline: none;
  background-color: #0000000d;
}

.closeButton:hover {
  background-color: #0000000d;
}

.modalContent {
  padding: 2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {

  .sizeS,
  .sizeM,
  .sizeL {
    width: 80%;
    max-width: 80%;
  }

  .modalContent {
    padding: 1.5rem;
  }
}