/* Mobile 320px - 767px -- 812px */
.contentHeader {
    background-color: var(--background-inner);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: var(--header-height);
    box-sizing: border-box;
    padding: 0 0.5vw;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    width: 100%;
}

.headerLeft {
    width: fit-content;
    max-width: 20vw;
}

.routeTitle {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    background: linear-gradient(90deg, #000000, #007a16);
    -webkit-background-clip: text; /* Safari/Chrome */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Tablet 768px - 1279px -- 800px*/
@media screen and (min-width: 768px) {
    .contentHeader {
        gap: 3em;
    }

    .headerRight {
        gap: 1em;
    }
}
