.contentHeader {
    background-color: var(--background-inner);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: var(--header-height);
    box-sizing: border-box;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
    max-width: 80vw;
}

.headerLeft {
    width: fit-content;
    max-width: 35vw;
}

.routeTitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    color: var(--text-primary);
    position: relative;
    top: -2px;
    width: 100%;
    max-width: fit-content;
}