.content {
    height: calc(100dvh - 64px);
    overflow: hidden;
    display: flex;
}

.tableWrapper {
    flex: 1;
    height: 100%;
    overflow: hidden;
    box-shadow: var(--header-box-shadow);
}

.tableContainer {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
    height: calc(100dvh - var(--header-height) - 2px);
}

.scheduleTable {
    border-collapse: collapse;
    width: max-content;
    height: 100%;
    width: 100%;
}

.scheduleTable thead th {
    height: 50px;
}

.scheduleTable td {
    text-align: center;
    border: var(--border-primary);
    background: var(--background);
    padding: 0 4px;
}

.scheduleCell {
    min-width: 180px !important;
    max-width: 250px !important;
}

.hourCell {
    background: var(--table-headers-color);
    font-weight: bold;
    text-align: center;
    min-width: var(--table-template-cell-width);
    width: var(--table-template-cell-width);
}

.cellContent {
    display: flex;
    flex-direction: column;
}

.scheduleTable thead th:first-child,
.scheduleTable tbody td:first-child {
    background: var(--table-headers-color);
    font-weight: bold;
    text-align: center;
    min-width: var(--table-template-cell-width);
    width: var(--table-template-cell-width);
}

.scheduleTable tbody td {
    height: var(--table-cell-height);
}

.hourHeader {
    font-weight: bold;
    text-align: center;
    border: var(--border-primary);
    min-width: 64px;
    padding: 10px;
    background-color: var(--table-headers-color);
}

.dayHeader {
    font-weight: bold;
    text-align: center;
    border: var(--border-primary);
    min-width: 200px;
    background-color: var(--table-headers-color);
}

.thContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacherCell {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    display: flex;
    align-items: center;
}

.thSkeletonName,
.tdSkeleton1,
.tdSkeleton2,
.tdSkeleton3 {
    background-color: var(--skeleton-input-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    animation: pulse 1.5s ease-in-out infinite;
}

.thSkeletonName {
    height: 26px;
    width: 90%;
}

.tdSkeleton1 {
    height: 18px;
    width: 20%;
}

.tdSkeleton2 {
    height: 18px;
    width: 40%;
}

.tdSkeleton3 {
    height: 18px;
    width: 60%;
}

@keyframes pulse {

    0%,
    100% {
        background-color: var(--skeleton-input-color);
    }

    50% {
        background-color: var(--skeleton-input-color-bright);
    }
}

@media (max-width: 767px) {
    .teacherCell {
        padding-block: 6px;
    }
}


/* Desktop */
@media (min-width: 768px) {
    .tableContainer {
        height: calc(100dvh - var(--header-height) - 8px);
    }

    .thSkeletonName {
        height: 26px;
        width: 30vw;
    }

    .tdSkeleton1 {
        height: 18px;
        width: 5%;
    }

    .tdSkeleton2 {
        height: 18px;
        width: 10%;
    }

    .tdSkeleton3 {
        height: 18px;
        width: 20%;
    }
}