.cellContent {
    width: 100%;
}

.innerCellContent {
    width: 100%;
    gap: 10px;
    min-height: var(--table-daily-cell-height);
    max-height: var(--table-daily-cell-height);
    background-color: var(--tab-color);
    border-radius: var(--border-radius-cell);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    /* Force scrollbar track to exist */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.05);
    /* Thumb Track */
}

.innerCellContent::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    background-color: rgba(0, 0, 0, 0.05);
    /* Track color */
}

.innerCellContent::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Thumb color */
}

.eventText {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    width: 100%;
    line-height: 1.5em;
    font-size: 16px;
}

.hasScroll {
    padding: 2px 12px;
}