/* Mobile */
.shadowHeader {
    position: fixed;
    top: calc(var(--header-height) + var(--header-height) - 2px);
    z-index: 5;
    min-width: var(--table-daily-col-width);
    height: calc(var(--table-daily-header-height) + var(--padding-top-mobile));
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
}

.shadowHeaderBackground {
    position: relative;
    top: var(--padding-top-mobile);
}

/* Desktop */
@media (min-width: 1024px) {
    .shadowHeader {
        top: var(--header-height);
    }

    .shadowHeaderBackground {
        top: var(--padding-top-desktop);
    }
}