/* < 1024px */
.emptyTable {
    position: fixed;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-height: calc(100vh - var(--header-height));
    width: 90vw;
    text-align: center;
}

.dateText {
    font-size: 18px;
    font-weight: 600;
    color: #666;
    direction: rtl;
    white-space: nowrap;
}

.text {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
}

/* > 1024px */
@media (min-width: 1024px) {
    .emptyTable {
        width: auto;
    }
}

.linkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: var(--dark-text-color, #333);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-top: 10px;
    width: fit-content;
}

.linkBtn:hover {
    background-color: #f0f0f0;
    transform: translateY(-1px);
}