.container {
    padding: 2px;
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: var(--padding-top-desktop);
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}