:root {
    --background-color: #FCFDFF;
    --inner-background-color: #E1E1EA;
    --inner-background-color-bright: #F3F3F7;
    --inner-background-color-empty: #FFFFFF;

    --top-color: #fdfbfb;
    --top-color-hover: #f7f7f7;

    --bright-text-color: #FFFFFF;
    --bright-text-color-hover: #e2e2e2;

    --dark-text-color: #494949;
    --dark-text-color-active: #585858;

    --placeholder-color: #CECECE;
    --input-background-color: #FFFFFF;
    --input-color: #494949;
    --input-border: #e0e0e0;
    --input-border-focus: #494949;

    --tab-color: #FFFFFF;
    --tab-color-hover: #0000000d;

    --bright-border-color: #e0e0e0;
    --dark-border-color: #CECECE;

    --preloader-color: #9D8CDB;
    --existing-teacher-color: #80B0FF;
    --missing-teacher-color: #FF8080;
    --event-color: #6EBE6A;

    --error-color: #e53935;

    --shadow-background: #00000080;

    --skeleton-header-color: #e0e0e0;
    --skeleton-input-color: #ececec;
    --skeleton-input-color-bright: #f2f0f0;

    --loading-color: #575757;

    /* Button colors */
    --button-color: #FFFFFF;
    --button-background-color: #000;
    --button-hover-background-color: #333;
    --button-disabled-color: #b9b9b9;
    --button-disabled-background-color: #919191;

    --hours-in-day: 10;

    --input-height: 40px;

    --border-primary: 1px solid var(--dark-border-color);
    --border-secondary: 1px solid var(--bright-border-color);

    --box-shadow-primary: 0px 4px 4px #00000010;
    --box-shadow-btn: 0px 4px 4px #00000005;

    --border-radius-input: 4px;
    --border-radius-table: 20px;
    --border-radius-cell: 6px;

    --header-height: 55px;

    --padding-top-desktop: 1rem;
    --padding-top-mobile: 0.2rem;

    --padding-width: 10px;

    --table-daily-col-width: 240px;
    --table-daily-col-inner-width: calc(var(--table-daily-col-width) - 40px);
    --table-daily-header-height: 45px;
    --table-daily-cell-height: 90px;
    --table-daily-full-height: calc(var(--table-daily-header-height) + var(--table-daily-cell-height) * var(--hours-in-day) + (5px * 11));
    --table-daily-btn-width: 60px;

    --table-annual-col-width: 200px;
    --table-annual-col-width-mobile: 230px;
    --table-annual-header-height: 40px;
    --table-annual-cell-height: 96px;
    --table-annual-full-height: calc(var(--table-daily-header-height) + var(--table-daily-cell-height) * var(--hours-in-day) + (5px * 10));

    --list-details-header-height: 50px;
    --list-details-full-height: calc(100vh - var(--header-height) - 1rem);
    --list-details-padding: 1rem;
    --list-details-row-padding: 7px 1rem;
    --list-details-row-padding-mobile: 5px 0.5rem;
    --list-details-actions-width: 160px;
    --list-details-actions-width-mobile: 100px;

    --table-teacher-details-col-width: 200px;
    --table-teacher-cell-height: 120px;

    --table-cols-gap: 3px;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    direction: rtl;
}

body {
    color: var(--dark-text-color);
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h3 {
    font-size: 18px;
    color: var(--dark-text-color);
}