:root {
  /* Base colors */
  --background: #f9fafb;
  --background-inner: #ffffff;
  --foreground: #171717;

  /* Login page colors */
  --school-section-bg: #f9f9f9;
  --icon-placeholder-bg: #000;
  --title-color: #333;
  --subtitle-color: #666;
  --feature-icon-bg: #f0f0f0;
  --description-text: #666;
  --description-hover-text: #7d7c7c;


  /* Form elements */
  --input-color: #171717;
  --input-hover-color: #3c3c3c;
  --input-border: #e0e0e0;
  --input-focus-border: #000;
  --input-shadow: #0000000d;
  --input-focus-shadow: #0000001a;
  --placeholder-color: #aaa;

  /* Button colors */
  --button-color: #fff;
  --button-bg: #000;
  --button-hover-bg: #333;
  --button-disabled-bg: #666;
  --loading-color: #c3c0c0;

  /* Link colors */
  --link-color: #4a90e2;

  /* Error colors */
  --error-color: #e53935;
  --error-shadow: #e5393533;
  --error-color-hover: #9d3130;

  /* Table colors */
  --header-cell-color: #E1E8F9;
  --row-cell-color: #f7faff;
  --empty-cell-color: #f6efef;

  /* Box shadows */
  --card-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  --input-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  --input-focus-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  --error-box-shadow: 0 0 0 2px rgba(229, 57, 53, 0.2);

  /* Size */
  --header-height: 60px;
  --nav-width: 240px;

  --annual-table-width: 200px;
  --annual-table-max-width: 300px;
  --annual-template-width: 70px;

  --table-header-min-height: 70px;
  --table-header-height: 8vh;
  
  --table-template-cell-width: 60px;
  --table-cell-min-width: 300px;
  --table-cell-width: 300px;
  --table-cell-min-height: 80px;
  --table-cell-height: 13vh;

  --box-border-radius: 10px;
  --btn-border-radius: 4px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  direction: rtl;
}

body {
  color: var(--foreground);
  background-color: var(--background-inner);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}