.cellContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.innerCellContent{
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.classAndSubject {
    max-width: 200px;
    padding-inline: 10px;
    text-overflow: clip;
    box-sizing: border-box;
}

.teacherSelect {
    text-align: right;
    width: 100%;
}

.emptyCell{
    width: 100%;
    height: 100%;
    background-color: var(--empty-cell-color);
}

