/* Desktop */
.selectContainer {
    width: 230px;
    min-width: 230px;
    max-width: 230px;
    display: block;
}

.pageTitleLong {
    white-space: nowrap;
    display: block;
}

.pageTitleShort {
    white-space: nowrap;
    display: none;
}

/* <= 550px */
@media (max-width: 550px) {
    .pageTitleLong {
        display: none;
    }

    .pageTitleShort {
        display: block;
    }

    .selectContainer {
        width: 100%;
        min-width: 150px;
        max-width: 230px;
        flex: 1;
    }
}