/* Mobile */
.actionsContainer {
    margin-right: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0;
}

.selectContainer {
    width: 100%;
}

.topButtonsContainer {
    display: none;
}

.topBtn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font: inherit;
    color: #333;
    display: flex;
    align-items: center;
}

.topBtn.active {
    font-weight: bold;
}

.separator {
    color: #888;
    padding: 0 0.3rem;
}

/* Desktop */
@media (min-width: 768px) {
    .actionsContainer {
        margin-right: 0;
        gap: 3em;
    }

    .selectContainer {
        width: 200px;
    }

    .topButtonsContainer {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 40px;
        min-width: fit-content;
        width: fit-content;
    }
}
