.container {
    width: calc(100% - (var(--padding-width) * 2));
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: var(--padding-top-desktop);
    padding-bottom: var(--padding-top-desktop);
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}