.container {
  display: block; /* כל המסך נשאר 100% */
}

/* שליטה ברוחב הטבלה במסך כיתות */
.classesList {
  --table-width: 60%;
  --table-max-width: 1200px;
  --table-margin: 0 auto;
  padding-inline: 2px;
}

/* במסכים צרים נפרוס ל־100% */
@media (max-width: 767px) {
  .classesList {
    --table-width: 100%;
    --table-max-width: none;
    --table-margin: 0;
  }
}
