/* Mobile 320px - 767px -- 812px */
.btn {
    border: 1px solid var(--input-border);
    background-color: transparent;
    color: var(--input-color);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--feature-icon-bg);
}

.btnText {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}

.btnText span {
    display: none;
}

.btnText svg {
    font-size: 14px;
}

/* Desktop */
@media (min-width: 768px) {
    .btn {
        padding: 12px 20px;
    }

    .btnText span {
        display: block;
    }

    .btnText svg {
        font-size: 16px;
    }
}
