.btn{
    background-color: var(--button-bg);
    color: var(--button-color);
    border-radius: 5px;
    padding: 12px 20px;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    cursor: pointer;
    background-color: var(--button-hover-bg);
}

.btnText{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}