/* Mobile */
.tableListSection {
    background-color: var(--inner-background-color);
    width: 95%;
    min-height: calc(100vh - var(--header-height) - 1rem);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    border-radius: var(--border-radius-table);
}

.tableList {
    min-width: 50vw;
    width: 100%;
    max-width: none;
    border-collapse: separate;
    border-spacing: 0;
}

.tableList thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--background);
}

.tableList th {
    text-align: center;
    padding: 1rem 0;
    border-bottom: var(--border-heavy-primary);
    font-weight: 600;
    color: var(--description-text);
    width: 100%;
}

.tableList td {
    text-align: right;
    padding: 1rem 16px;
    border-bottom: var(--border-primary);
}

/* Desktop */
@media (min-width: 1024px) {
    .tableListSection {
        overflow-y: auto;
        width: 100%;
        padding: 0 5vw;
    }
}