.tableListSection {
    width: 100%;
    overflow-y: auto;
    position: relative;
    background-color: var(--background-inner);
}

.tableList {
    width: 700px;
    max-width: var(--table-max-width, none);
    margin: var(--table-margin, 0);
    border-collapse: separate;
    border-spacing: 0;
}

.tableList thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--background-inner);
}

.tableList th {
    text-align: right;
    padding: 1rem 2rem 1rem 0;
    border-bottom: 2px solid #eee;
    font-weight: 600;
    color: #666;
    width: 100%;
}

.tableList td {
    text-align: right;
    padding: 1rem 2rem 1rem 0;
    border-bottom: 1px solid #eee;
}
