.fab {
    position: fixed;
    top: 0.8vw;
    right: 0.2vw;
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 50%;
    background-color: var(--button-background-color);
    color: white;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 1000;
    border: none;
    outline: none;
    transition: transform 0.2s, background-color 0.2s;
}

.fab:hover {
    transform: scale(1.05);
    background-color: var(--button-hover-background-color);
}

.fab:active {
    transform: scale(0.95);
}

@media (max-width: 1000px) {
    .fab {
        width: 5vw;
        height: 5vw;
    }
}

@media (max-width: 600px) {
    .fab {
        top: 3vw;
        width: 7vw;
        height: 7vw;
    }
}

@media (max-width: 400px) {
    .fab {
        top: 3vw;
        width: 9vw;
        height: 9vw;
    }
}