/* Mobile */
.rightContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    font-weight: 600;
}

.selectContainer {
    width: var(--top-nav-select-width);
}

.leftContainer{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 10px;
}



/* Desktop */
@media (min-width: 1024px) {}