
.roleCell span,
.roleCellBlue span,
.roleCellGreen span {
    padding: 5px 15px !important;
    border-radius: 5px;
}

.roleCellGreen span {
    background-color: #15bf78;
    color: #fff;
}

.roleCellBlue span {
    background-color: #436dce;
    color: #fff;
}

.actionButtons {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

/* .deleteButton {
    background: none;
    border: none;
    color: var(--placeholder-color);
}

.deleteButton:hover {
    cursor: pointer;
    color: var(--button-disabled-bg);
} */

.deleteBtn{
    background-color: var(--button-bg);
    color: var(--button-color);
    border-radius: 5px;
    padding: 5px 15px;
}

.deleteBtn:hover{
    cursor: pointer;
    background-color: var(--button-hover-bg);
}

.teacherRow {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.teacherRow:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
