.columnHeaderWrapper {
    width: 100%;
    max-width: var(--table-daily-teacher-col-width-preview);
    height: var(--table-daily-header-height);
    background-color: var(--background-color);
    position: absolute;
    left: 0;
    z-index: 5;
    display: flex;
    z-index: 16;
    box-shadow: -1px 0px 0px 0px var(--background-color),
        1px 0px 0px 0px var(--background-color);
}

.columnHeader {
    position: relative;
    top: 0;
    left: 0;
    border-radius: var(--border-radius-table) var(--border-radius-table) 0 0;
    width: 100%;
    padding: 0 20px;
    text-align: right;
    height: 100%;
    color: var(--white-text-color);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.headerText {
    font-size: 18px;
    word-break: break-word;
    width: 100%;
    padding-right: 15px;
}

.menuContainer {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    z-index: 10;
}