.teacherCell {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.faded {
    color: #999;
}

.subTeacherName {
    font-weight: bold;
}

@media (max-width: 767px) {
    .teacherCell {
        padding-block: 6px;
    }
}
