.overlay {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    right: 0;
    height: var(--table-daily-full-height);
    z-index: 15;
}

.hideBackground {
    position: absolute;
    top: 0;
    left: -7px;
    width: 60px;
    height: var(--table-daily-full-height);
    background-color: var(--background-color);
    z-index: -1;
}

.hideTop {
    position: fixed;
    top: 60px;
    right: 10px;
    width: 40px;
    --c: 50px;
    height: 65px;
    aspect-ratio: 3/2;
    mask: radial-gradient(70% var(--c) at bottom, #0000 calc(100% - 2px), #000);
    background-color: var(--background-color);
}

.hoursColumn {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(var(--table-daily-header-height) + (var(--table-daily-cell-height) / 2) - 10px);
    background-color: var(--inner-background-color);
    gap: calc(var(--table-daily-cell-height) - 25px);
    height: var(--table-daily-full-height);
    border-radius: 0 0 40px 40px;
}

.hourCell {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-text-color);
    background-color: var(--top-color);
    border-radius: 50%;
}