.overlay {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    position: sticky;
    right: 0;
    height: var(--table-daily-full-height);
    z-index: 20;
    /* Must to be lower than DailyTable & previewTable css "hide" z-index */
}

.hideBackground {
    position: absolute;
    top: 0;
    left: -4px;
    width: 60px;
    height: var(--table-daily-full-height);
    background-color: var(--background-color);
    z-index: -1;
}

.hideTop {
    position: absolute;
    top: -10px;
    width: 30px;
    height: 75px;
    background-color: var(--background-color);
    z-index: 20;
    /* Proview the U shape */
    mask: radial-gradient(var(--r) at bottom, #0000 98%, #000) no-repeat;
    -webkit-mask: radial-gradient(var(--r) at bottom, #0000 98%, #000) no-repeat;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
    --r: 15px;
}

.hoursColumn {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(var(--table-daily-header-height) + 5px);
    background-color: var(--inner-background-color);
    gap: 5px;
    height: calc(var(--table-daily-full-height) - var(--table-daily-header-height) - 5px);
    border-radius: 40px;
    z-index: 1;
}

.hourRowContainer {
    height: var(--table-daily-cell-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hourCell {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-text-color);
    background-color: var(--top-color);
    border-radius: 50%;
}