.overlay {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
    height: var(--table-daily-full-height);
}

.hoursColumn {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(var(--table-daily-header-height) + (var(--table-daily-cell-height) / 2) - 10px);
    background-color: var(--inner-background-color);
    gap: calc(var(--table-daily-cell-height) - 25px);
    height: var(--table-daily-full-height);
    border-radius: 40px;
}

.hourCell {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-text-color);
    background-color: var(--top-color);
    border-radius: 50%;
}