.container {
    width: 100%;
    min-height: 100dvh;
    position: relative;
    padding-bottom: 15px;
    padding-top: var(--padding-top-desktop);
}

.dailyTable {
    display: flex;
    gap: 7px;
    overflow: scroll;
    min-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.dailyColumn {
    background-color: var(--inner-background-color);
    min-width: var(--table-daily-col-width);
    height: var(--table-daily-full-height);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: var(--border-radius-table);
    overflow: hidden;
}

.headerSkeleton {
    background-color: var(--skeleton-input-color);
    width: 100%;
    height: var(--table-daily-header-height);
    animation: pulse 1.5s ease-in-out infinite;
}

.rows {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    gap: 5px;
}

.rowSkeleton {
    width: 100%;
    height: var(--table-daily-cell-height);
    background-color: var(--skeleton-input-color);
    border-radius: var(--border-radius-cell);
    animation: pulse 1.5s ease-in-out infinite;
}

.loadingContainer{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}


@keyframes pulse {

    0%,
    100% {
        background-color: var(--skeleton-input-color);
    }

    50% {
        background-color: var(--skeleton-input-color-bright);
    }
}
