.header {
    border-radius: var(--border-radius-table) var(--border-radius-table) 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: var(--table-daily-col-width);
    padding: 0 15px;
    text-align: right;
    height: var(--table-daily-header-height);
    color: var(--bright-text-color);
    will-change: transform;
    position: absolute;
    left: 0;
    z-index: 5;
}

.eyeIcon {
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease;
}

.eyeIcon:hover {
    color: var(--bright-text-color-hover);
    cursor: pointer;
}

.eyeIcon:active {
    transform: translateY(1px);
}

.headerText {
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
    width: 100%;
    padding-right: 10px;
}