.cellContent {
    width: 100%;
}

.innerCellContent {
    width: 100%;
    gap: 10px;
    height: var(--table-daily-cell-height);
    background-color: var(--tab-color);
    border-radius: var(--border-radius-cell);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textContent {
    line-height: 1.3;
}

.subTeacherName {
    font-weight: 600;
}

.missingSubTeacherName {
    color: var(--missing-teacher-text-color);
    font-weight: 600;
}

.activityText {
    color: var(--disabled-text-color);
}