.wrapper {
  width: 100%;
  height: 100%;
  padding: 6px 6px;
  box-sizing: border-box;
  position: relative;
}

.placeholder {
    position: absolute;
    top: 6px;
    right: 6px;
    color: var(--placeholder-color);
    pointer-events: none;
    font-size: 16px;
    line-height: 22px;
    z-index: 1;
    direction: ltr;
}

.wrapper div {
  height: 100%;
}

.editor {
    font-size: 16px;
    line-height: 22px;
    overflow-y: auto;
    direction: rtl;
    width: 100%;
    height: 100%;
}

.editor p.is-editor-empty::before {
    content: attr(data-placeholder);
    color: var(--placeholder-color);
    pointer-events: none;
    float: right;
    height: 0;
}

.editor a {
    color: var(--link-color);
    text-decoration: underline;
}

.editor:focus {
    outline: none;
}

