.container {
  padding: 0;
  width: 100%;
  height: auto;
  display: block;
  background-color: var(--school-section-bg);
}

.whiteBox {
  background-color: var(--background-inner);
  width: 100%;
  height: auto;
  border: 0.1px solid #ccc;
}

/* Desktop HD 1280px+ */
@media screen and (min-width: 1280px) {
  .container {
    margin-top: 0;
  }
}
