.iconBtn{
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--description-text);
}

.hasBorder{
    border: 1px solid var(--input-border);
}

.iconBtn:hover{
    background-color: var(--feature-icon-bg);
}
