.iconBtn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    width: var(--input-height);
    height: var(--input-height);
    border-radius: var(--border-radius-cell);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--description-text);
    transition: all 0.1s ease;
}

.hasBorder {
    border: var(--border-primary);
}

.iconBtn:not(:disabled):hover {
    transform: translateY(-1px);
    background-color: var(--top-color-hover);
    cursor: pointer;
}

.iconBtn:disabled {
    cursor: default;
    opacity: 0.5;
    color: gray;
}