.cellContent {
    width: 100%;
}

.innerCellContent {
    width: 100%;
    gap: 10px;
    height: var(--table-daily-cell-height);
    background-color: var(--tab-color);
    border-radius: var(--border-radius-cell);
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.eventText {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    width: var(--table-daily-col-inner-width);

}