.inputContainer {
  margin-bottom: 0;
  width: 100%;
  position: relative;
}

.label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: var(--title-color);
  text-align: right;
}

.input {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease;
  color: var(--foreground);
  text-align: right;
  direction: rtl;
}

.readonly {
  width: 100%;
  padding: 10px 16px;
  border: none;
  font-size: 16px;
  color: var(--foreground);
  text-align: right;
  direction: rtl;
  cursor: default;
}

.readonly:focus,
.readonly:active {
  outline: none;
  border: none;
}

.input::placeholder {
  color: var(--placeholder-color);
  opacity: 0.8;
}

.input:focus {
  outline: none;
  border-color: var(--input-focus-border);
  box-shadow: var(--input-focus-box-shadow);
}

.inputError {
  border-color: var(--error-color);
}

.inputError:focus {
  box-shadow: var(--error-box-shadow);
}

.errorText {
  color: var(--error-color);
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0;
  text-align: right;
  position: absolute;
  bottom: -5px;
  right: 10px;
  background-color: var(--background-inner);
  z-index: 2;
  padding: 0 7px;
  box-sizing: border-box;
}

.noBorder {
  border: none !important;
  box-shadow: none !important;
}
