.cellContent {
    width: 100%;
}

.innerCellContent {
    width: 100%;
    gap: 10px;
    min-height: var(--table-daily-cell-height);
    background-color: var(--tab-color);
    border-radius: var(--border-radius-cell);
    padding: 10px 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.classAndSubject {
    max-width: 200px;
    padding-inline: 10px;
    box-sizing: border-box;
    line-height: 1.3;
}

.teacherSelect {
    text-align: right;
    width: 100%;
}

.activityText {
    color: var(--disabled-text-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cellContent {
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;
}

.subTeacherName {
    font-weight: 600;
    padding-inline: 10px;
    padding-top: 5px;
}

.missingSubTeacherName {
    color: var(--missing-teacher-text-color);
    font-weight: 600;
    padding-inline: 10px;
    padding-top: 5px;
}