#markdown em {
    font-style: italic;
}

#markdown h1 {
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-text-color);
}

#markdown h2 {
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-text-color);
}

#markdown h3 {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-text-color);
}

#markdown strong {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-text-color);
}

#markdown a {
    color: var(--link-color);
}

#markdown a:hover {
    text-decoration: underline;
}