.selectContainer {
    width: 100%;
    background-color: var(--input-background-color);
    min-height: 38px;
    box-shadow: none;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    opacity: 0.7;
}

.select {
    display: flex;
    align-items: center;
    gap: 8;
}

.text {
    color: var(--placeholder-color);
    font-size: 15px;
}