.dataTable {
    width: 80vw;
    overflow-x: scroll;
    border-collapse: collapse;
    text-align: right;
}

.tdDay {
    padding: 1rem;
    border: 1px solid #000;
    text-align: center;
    background-color: #64748b;
    width: 50px;
}

.thDays {
    background-color: #64748b;
    text-align: center;
    width: 50px;
}