/* Mobile */
.actionsContainer {
    margin-right: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0;
}

.selectContainer {
    width: 100%;
}

/* Desktop */
@media (min-width: 768px) {
    .actionsContainer {
        margin-right: 0;
        gap: 3em;
    }

    .selectContainer {
        min-width: fit-content;
        width: 25%;
    }
}
