.actionsContainer {
    margin-inline-start: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.dateInput {
    font-family: inherit;
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: transparent;
    color: inherit;
}

.dateInput:focus {
    outline: none;
    background: transparent;
}

@media (min-width: 768px) {
    .dateInput {
        font-size: 16px;
    }
}
