.topNavBtnContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    --daily-btn-width: 60px;
}

.topNavBtnContainer button {
    width: var(--daily-btn-width) !important;
}

/* override generic button rule */
.topNavBtnContainer .publishBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 15px;
    height: 40px;
    border-radius: var(--border-radius-cell);
    background-color: transparent;
    border: var(--border-primary);
    color: var(--description-text);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    width: auto !important;
    transition: all 0.2s;
    margin-left: 25px;
}

.topNavBtnContainer .publishBtn:hover {
    transform: translateY(-1px);
    background-color: var(--top-color-hover);
}

.publishedStatus {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--gray-text-color);
    font-weight: 700;
    font-size: 15px;
    padding: 0 10px;
    margin-left: 25px;
}


.clickableStatus {
    cursor: pointer;
    transition: opacity 0.2s;
}

.clickableStatus:hover {
    opacity: 0.7;
}



@media (max-width: 505px) {
    .topNavBtnContainer .publishBtn {
        width: var(--daily-btn-width) !important;
        padding: 0;
        margin-left: 0;
    }

    .publishBtn span {
        display: none;
    }

    .publishedStatus {
        display: none;
    }

}