/* Mobile */
.topButton {
    width: 150px;
    height: 40px;
    padding: 0.7rem 0;
    padding-left: 0;
    border: var(--border-primary);
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.2s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--daily-btns-color);
}

.topButton:not(:disabled):hover {
    transform: translateY(-2px);
    box-shadow: var(--daily-btns-box-shadow);
    cursor: pointer;
}

/* Desktop */
@media (min-width: 768px) {
    .topButton {
        width: 150px;
        padding-left: 5px;
        font-size: 14px;
    }
}