/* Mobile 320px - 767px -- 812px */
.topButton {
    width: 150px;
    height: 40px;
    padding: 0.7rem 0;
    padding-left: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.topButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
