/* Mobile 320px - 767px -- 812px */
.topButton {
    width: 150px;
    height: 40px;
    padding: 0.7rem 0;
    padding-left: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--daily-btns-color);
}

.topButton:hover {
    transform: translateY(-2px);
    box-shadow: var(--daily-btns-box-shadow);
}

/* Desktop */
@media (min-width: 768px) {
    .topButton {
        width: 150px;
        padding-left: 5px;
        font-size: 14px;
    }
}