.topButtonsContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.topBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 15px;
    height: var(--input-height);
    width: 170px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: var(--dark-text-color);
    border-radius: var(--border-radius-cell);
    border: var(--border-primary);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.btnText {
    display: inline;
}

.topBtn svg {
    display: none;
}

.topBtn:hover {
    background-color: var(--inner-background-color-bright);
    transform: translateY(-1px);
}

.topBtn.active {
    background-color: var(--inner-background-color-bright);
    border: 1px solid rgba(0, 0, 0, 0.08);
}

/* < 355px */
@media (max-width: 355px) {
    .topBtn {
        width: 60px;
        border: var(--border-primary);
    }

    .topBtn svg {
        display: block;
    }

    .btnText {
        display: none;
    }
}