/* > 880px */
.topButtonsContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.topBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 165px;
    height: var(--input-height);
    font-size: 16px;
    background-color: transparent;
    color: var(--dark-text-color);
    border-radius: var(--border-radius-cell);
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.btnText {
    display: inline;
}

.topBtn:hover {
    background-color: var(--inner-background-color);
    font-weight: 600;
}

.topBtn.active {
    background-color: var(--skeleton-input-color);
    font-weight: 600;
}

/* <= 900px */
@media (max-width: 900px) {
    .topBtn {
        width: 60px;
        border: var(--border-primary);
    }

    .btnText {
        display: none;
    }
}

/* <= 690px (Bottom Bar Mode) */
@media (max-width: 690px) {
    .topButtonsContainer {
        gap: 50px;
    }

    .topBtn {
        width: 100%;
        min-width: 140px;
    }

    .btnText {
        display: block;
    }

    .topBtn svg {
        display: none;
    }
}

/* <= 440px (Bottom Bar Mode - Smaller Font) */
@media (max-width: 440px) {
    .topButtonsContainer {
        gap: 20px;
    }

    .topBtn {
        width: 100%;
        height: 30px;
    }

    .btnText {
        display: block;
        font-size: 13px;
        white-space: nowrap;
    }

    .topBtn svg {
        display: none !important;
    }
}