.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Desktop */
.pageList {
    --table-margin: 0 auto;
}

/* Mobile */
@media (max-width: 767px) {
    .pageList {
        --table-margin: 10px;
    }
}