/* AuthSelect.module.css */

.selectContainer {
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.addBtn{
  background-color: var(--button-bg);
  color: var(--button-color);
  padding: 5px 0;
  border-radius: var(--btn-border-radius);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
