.mobileNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--background);
  height: var(--header-height);
  box-sizing: border-box;
  padding: 0 1em;
  position: fixed;
  border-top: var(--border-primary);
}