/* Mobile */
.container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    padding: 0;
}

.mainSection {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 90%;
    margin-bottom: 10vh;
}

.formInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 280px; /* אותו רוחב כמו הדרופדאון */
  margin: 0 auto;
}

.schoolName {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}


.copyright {
    text-align: center;
    color: #888;
    font-size: 0.95rem;
    margin-top: 18px;
    margin-bottom: 0;
    width: 100%;
}

/* Desktop */
@media (min-width: 768px) {
    .mainSection {
        gap: 3em;
        width: 35%;
        margin-bottom: 20vh;
    }
}
