/* > 800 */
.container {
    position: relative;
    width: 790px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - var(--header-height) - 40px);
    margin: var(--padding-top-desktop) auto 20px;
    background-color: var(--table-gray-color);
    border-radius: var(--border-radius-table);
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    height: var(--list-details-header-height);
    background-color: var(--table-gray-color);
    color: var(--dark-text-color);
    flex-shrink: 0;
    width: 100%;
    padding-left: var(--scrollbar-width, 0px);
}

.headerRow {
    width: 95%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: var(--list-details-row-padding);
    align-items: center;
    box-sizing: border-box;
}

.headerName {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.headerActions {
    min-width: var(--list-details-actions-width);
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.addRowWrapper {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    flex-shrink: 0;
    width: 100%;
    padding-left: var(--scrollbar-width, 0px);
}

.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    margin: 1rem 0;
    overflow-y: auto;
    width: 100%;
}

/* <= 800 */
@media (max-width: 800px) {
    .container {
        width: 95vw;
    }

    .headerRow {
        width: 95%;
        gap: 1rem;
        padding: var(--list-details-row-padding-mobile);
    }

    .headerActions {
        min-width: var(--list-details-actions-width-mobile);
    }
}